@import url('https://fonts.googleapis.com/css?family=Architects+Daughter|Bowlby+One+SC|Fredoka+One|Prata|Short+Stack');

/*Fonts

font-family: 'Short Stack', cursive;
font-family: 'Prata', serif;
font-family: 'Fredoka One', cursive;
font-family: 'Bowlby One SC', cursive;
font-family: 'Architects Daughter', cursive;

*/

/*Colors

#31393C - Gray
#D0E562 - Light green
#30B3F4 - Vibrant blue
#FFFFFF - White
#E4572E - Orange
#E365C1 - Violet

*/
html, body {
  width: 100%;
  margin: 0px auto;
  font-family: 'Architects Daughter', cursive;
}

h1, h2 {
  font-family: 'Fredoka One', cursive;
}

h3, h4 {
  font-family: 'Bowlby One SC', cursive;
}

h5, h6 {
  font-family: 'Prata', serif;
}

#homeHeader, #registerHeader {
    margin-bottom: 10px;
}

/*Readventure Header  */
#readventuresHeader {
  height: 10vh;
  background-color: #30B3F4;
  background: linear-gradient(#0a5c84, #30B3F4, #207ead);
  margin-bottom: 10px;
  border-bottom: 3px solid #31393C;
}

#homeBanner {
    width: 100%;
    height: 90vh;
    background-color: #30B3F4;
}

#bannerLogo {
    margin:0px auto;
    max-height: 90vh;
}

.homeTitle {
    text-align: center;
}

.reveal {
  max-height: 80vh;
  z-index: 5000;
  border: 2px solid gold;
  /* background-color: #31393C; */
  background-color: rgba(49, 57, 60, 0.9); 
  color: white;
}

.reveal label {
  color: white;
}

.reveal input[type="text"] {
    background-color: #31393C;
    color: white;
    border-radius: 5px;
    /* box-shadow: 0px 0px 5px white inset; */
}

.reveal input[type="text"]:focus {
    background-color: #31393C;
    color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px gold inset;
}

.reveal input[type="number"] {
    background-color: #31393C;
    color: white;
    border-radius: 5px;
    /* box-shadow: 0px 0px 5px white inset; */
}

.reveal input[type="number"]:focus {
    background-color: #31393C;
    color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px gold inset;
}

.reveal textarea {
    background-color: #31393C;
    color: white;
    border-radius: 5px;
    /* box-shadow: 0px 0px 5px white inset; */
}

.reveal textarea:focus {
    background-color: #31393C;
    color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px gold inset;
}

.reveal input[type='button'] {
  background-color: #30B3F4;
}

.main {
  max-width: 100%;
  padding: 0vh 2vh;
  /* background-color: rgba(33, 209, 83, 0.7); */
  background-image: url('http://wallpapercave.com/wp/VekkqCp.jpg');
  background-color: #31393C;
  min-height: 90vh;
}

.block {
  color: white;
  border: 4px solid gold;
  border-radius: 5px;
  transition: all 0.4s ease-in-out;
   background-color: rgba(49, 57, 60, 0.7); 
   /* box-shadow: 0px 0px 25px white inset;  */
   box-shadow: 0px 0px 35px black inset; 
}

#userArea {
  padding-top: 15px;
  text-shadow: 1px 1px 8px #31393C;
  max-height: 50vh;
}

#addInstructions {
  color: white;
  display: block;
}
#totalPages, #currentLevelNumber {
  font-family: 'Fredoka One', cursive;
  font-size: 2rem;
  color: white;
  text-shadow: 0px 0px 15px black;  
}

#readventures {
  max-height: 70vh;
  overflow-y: auto;
}

.readventureInfo {
  max-height: 40vh;
  overflow-y: auto;
}

.progress {
  height: 3vh;
  border: 2px solid gold;
  border-radius: 2px;
  background-color: rgba(198, 82, 21, 0.4); 
  box-shadow: 0px 0px 18px black inset;
}

.progress-meter {
  background-color: #15c624;
  border-right: 1px solid goldenrod;
}

.progressRatio h5 {
  font-style: italic;
}

.readventureInfoTitle {
  background-color: rgba(14, 133, 178, 0.5);
  text-align: center;
  border-bottom: 3px solid gold;
  text-shadow: 0px 0px 15px black;  
}

.note {
  border-bottom: 1px solid white;
  padding: 4px;
  box-shadow: 0px 0px 18px black inset;
}

#articles img {
    width: 100%;
}

#articles p {
    font-size: 1rem;
}

.teamMemberPic {
    width: 86%;
    max-height: 40vh;
    margin: 0% 7%;
}

.teamMember h3, .teamMember p {
    text-align: center;
}

#headerNav.modalHide, #readventureToolButtons.modalHide {
  display: none;
}


#readventures.is-open {
  display: none;
}

/*readventures body */
.avatar {
  height: 25vh;
  cursor: pointer;
}

#readventureTools {
  text-align: right;
}

#readventures {
    opacity: 0;
    padding: 1rem;
}

/*Readventures Title  */
#readventuresTitle {
  text-align: center;
  font-size: 2.8rem;
  font-weight: bold;
  opacity: 0;
}

.readventureAuthor {
   text-align: left; 
}

#readventureBookCover {
  width: 70%;
  margin: 0% 15%;
  border: 5px solid white;
  box-shadow: 0px 0px 15px gold;
}

/*book flip cards  */ 
.bookCard {
    padding: 6px;
    cursor: pointer;
}

.bookCard:hover {
    box-shadow: 0px 0px 12px #fefefe;
}
 
.readventureTools {
  min-height: 15vh;
}

.menuIcon {
  /* font-size: 3rem; */
  cursor: pointer;
  position: relative;
  font-size: 8.5vh;
  z-index: 5000;
   /* color: #0a0a0a;  */
  color: whitesmoke;
  text-shadow: 1px 1px 5px #31393C; 
  top: -1.3rem;
  left: 1.5rem;
  transition: all 0.4s ease-in-out;
}

.menuIcon:hover {
  font-size: 3.5rem;
  text-shadow: 1px 1px 5px gold; 
}

/*bookmarkInput  */
#bookmarkInput {
  display: none;
}

#noteInput {
  min-height: 20vh;
}



