@import url('https://fonts.googleapis.com/css?family=Architects+Daughter|Bowlby+One+SC|Fredoka+One|Prata|Short+Stack');

/*Fonts

font-family: 'Short Stack', cursive;
font-family: 'Prata', serif;
font-family: 'Fredoka One', cursive;
font-family: 'Bowlby One SC', cursive;
font-family: 'Architects Daughter', cursive;

*/

h1, h2 {
  font-family: 'Fredoka One', cursive;
}

h3, h4 {
  font-family: 'Bowlby One SC', cursive;
}

h5, h6 {
  font-family: 'Prata', serif;
}

html, body {
  width: 100%;
  margin: 0px auto;
  font-family: 'Architects Daughter', cursive;
}

#homeHeader, #registerHeader {
    margin-bottom: 10px;
}

#homeBanner {
    width: 100%;
    height: 90vh;
    background-color: #30B3F4;
}

#bannerLogo {
    margin:0px auto;
    max-height: 90vh;
}

.homeTitle {
    text-align: center;
}

.reveal {
  max-height: 80vh;
  z-index: 5000;
}

#userArea {
  padding-top: 15px;
}

.menu-hover-lines {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  transition: all 0.35s ease;
}

.menu-hover-lines li a {
  padding: 0.75rem 0;
  color: rgba(10, 10, 10, 0.5);
  position: relative;
  margin-left: 1rem;
}

.menu-hover-lines li:first-child a {
  margin-left: 0;
}

.menu-hover-lines li.active > a {
  background-color: transparent;
}

.menu-hover-lines a:before,
.menu-hover-lines a::after {
  height: 3px;
  position: absolute;
  content: '';
  transition: all 0.35s ease;
  background-color: #30B3F4;
  width: 0;
}

.menu-hover-lines a::before {
  top: 0;
  left: 0;
}

.menu-hover-lines a::after {
  bottom: 0;
  right: 0;
}

.menu-hover-lines a:hover,
.menu-hover-lines li.active > a {
  color: #0a0a0a;
  transition: all 0.35s ease;
}

.menu-hover-lines a:hover::before,
.menu-hover-lines .active a::before,
.menu-hover-lines a:hover::after,
.menu-hover-lines .active a::after {
  width: 100%;
}

#articles img {
    width: 100%;
}

#articles p {
    font-size: 1rem;
}

.teamMemberPic {
    width: 86%;
    max-height: 40vh;
    margin: 0% 7%;
}

.teamMember h3, .teamMember p {
    text-align: center;
}

.floated-label-wrapper {
  position: relative;
}

.floated-label-wrapper label {
  background: #fefefe;
  color: #1779ba;
  font-size: 0.75rem;
  font-weight: 600;
  left: 0.75rem;
  opacity: 0;
  padding: 0 0.25rem;
  position: absolute;
  top: 2rem;
  transition: all 0.15s ease-in;
  z-index: -1;
}

.floated-label-wrapper label input[type=text],
.floated-label-wrapper label input[type=email],
.floated-label-wrapper label input[type=password] {
  border-radius: 4px;
  font-size: 1.75em;
  padding: 0.5em;
}

.floated-label-wrapper label.show {
  opacity: 1;
  top: -0.85rem;
  z-index: 1;
  transition: all 0.15s ease-in;
}

/*Readventure Header  */
#readventuresHeader {
  height: 10vh;
}

#readventuresHeader.modalHide {
  display: none;
}

.overlay-nav-menu-toggle {
  position: relative;
  font-size: 4rem;
  z-index: 5000;
  color: #0a0a0a;
  top: -0.5rem;
  left: 1.5rem;
  transition: all 0.4s ease-in-out;
}

.overlay-nav-menu-toggle:hover {
  transition: all 0.4s ease-in-out;
  color: #575757;
}

.overlay-nav-menu {
  position: absolute;
   z-index: 1000; 
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  list-style: none;
  background: #30B3F4;
  background-size: cover;
  text-align: center;
  -webkit-transform: translateX(-100%) rotateX(40deg);
          transform: translateX(-100%) rotateX(40deg);
  transition: all 400ms cubic-bezier(1, -0.4, 0.44, 0.985);
}

.overlay-nav-menu li {
  font-size: 1.3rem;
  border-bottom: 1px solid rgba(254, 254, 254, 0.5);
  padding: 0.4rem;
}

.overlay-nav-menu a {
  display: inline-block;
  color: #fefefe;
  font-weight: bold;
  /* line-height: 6.25rem; */
  text-decoration: none;
}

.overlay-nav-menu li:hover {
  background-color: rgba(254, 254, 254, 0.6);
  color: #0a0a0a;
}

.overlay-nav-menu.is-open {
  top: 0;
  opacity: 1;
  -webkit-transform: perspective(200px) translateX(0) rotateX(0);
          transform: perspective(200px) translateX(0) rotateX(0);
}

.overlay-nav-menu.is-open ~ .overlay-nav-menu-toggle {
  display: inline-block;
  transition: all 0.4s ease-in-out;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
  color: white;
}

#readventures.is-open {
  display: none;
}

/*Search bar  */
.input-group-rounded .input-group-field {
  border-radius: 5000px 0 0 5000px;
  padding-left: 1rem;
  height:3.5rem;
}

.input-group-rounded .input-group-button .button {
  border-radius: 0 5000px 5000px 0;
  font-size: 1rem;
  height:3.5rem;
}


/*readventures body */
.avatar {
  /* width: 1; */
  cursor: pointer;
}

#readventureTools {
  text-align: right;
}

#readventures {
    opacity: 0;
    padding: 1rem;
    /* max-height: 83vh; */
    /* overflow-y: auto; */
}

/*Readventures Title  */
#readventuresTitle {
  text-align: center;
  font-size: 2.8rem;
  font-weight: bold;
  opacity: 0;
}

.readventureAuthor {
   text-align: center; 
}

#readventureBookCover {
  width: 70%;
  margin: 0% 15%;
  border: 3px solid #30B3F4;
}

/*book flip cards  */ 
.bookCard {
    padding: 6px;
    cursor: pointer;
}

.bookCard:hover {
    box-shadow: 0px 0px 12px #fefefe;
}

.flip-card {
  -webkit-perspective: 1000; 
  perspective: 1000;
}

.flip-card:hover .flip-card-inner,
.flip-card.hover .flip-card-inner {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.flip-card,
.flip-card-inner-front,
.flip-card-inner-back {
   width: 100%;
}

.flip-card-inner {
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
  min-height: 15rem;
}

.flip-card-inner-front,
.flip-card-inner-back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  min-height: 15rem; 
  position: absolute;
  top: 0vh;    
  left: 0;  
}

.flip-card-inner-front {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; 
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.flip-card-inner-front img {
  border: 4px solid #30B3F4;
}

.flip-card-inner-back h4 {
  font-size: 1rem;
  text-align: center;
}

.flip-card-inner-back h5, h6 {
  font-size: 0.9rem;
  text-align: center;
}

.flip-card-inner-back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    background: #cacaca;
    padding: 1rem;
    overflow: auto
}

.flip-card-inner-back-title {
  font-weight: bold;
}

.flip-card-inner-back-text {
  line-height: 1.3;
}
 
.readventureTools {
  min-height: 15vh;
}


.menuIcon {
  font-size: 3rem;
  cursor: pointer;
}

.menuIcon:hover {
  font-size: 3.5rem;
}

/*bookmarkInput  */
#bookmarkInput {
  display: none;
}

#noteInput {
  min-height: 20vh;
}

.plus-minus-input {
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.plus-minus-input .input-group-field {
  text-align: center;
  font-size: 7rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding: 1rem;
  border: none;
  box-shadow: none;
}

.plus-minus-input .input-group-field::-webkit-inner-spin-button,
.plus-minus-input .input-group-field ::-webkit-outer-spin-button {
  -webkit-appearance: none;
          appearance: none;
}

.plus-minus-input .input-group-button .circle {
  border-radius: 50%;
  padding: 0.25em 0.8em;
}



